.loader {
  @apply flex items-center justify-center;
  height: 70vh;
}

.loader__container {
  @apply bg-gray-100;
  @apply p-7;
  @apply rounded-md;
}

.loader__icon {
  @apply text-blue-400;
  animation: spin 3.5s linear infinite;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}