/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

/* Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Local imports */
@import url(commons.css);
@import url(pages/main.css);
@import url(pages/home.css);
@import url(components/logo.css);
@import url(components/footer.css);
@import url(components/navbar.css);
@import url(components/ipo-list.css);
@import url(components/login.css);
@import url(components/loader.css);